section {
    padding: 120px 0;

    &.bg-grey {
        background-color: $bg-section-grey;

        .h-section {
            color: #1f2868;
        }
    }
}

.main-wrapper {
    padding: 100px 0;
}

@media (max-width: 575px) {
    .main-wrapper {
        padding: 50px 0;
    }
}