.form-search {
    display: block;
    margin-bottom: 100px;
}

.form-search--input-group {
    display: flex;

    > input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 10px 0 0 10px;
        padding: 15px 20px;
        transition: .35s ease-in-out;

        &:focus {
            outline: none;
            border-color: $primary-color;
        }
    }

    > button {
        flex-shrink: 0;
        padding: 0 20px;
        border-radius: 0 10px 10px 0;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        color: #fff;
        outline: none;
        transition: .35s ease-in-out;

        &:hover {
            background-color: darken($primary-color, 5%);
        }
    }
}

@media (max-width: 575px) {
    .form-search {
        margin-bottom: 80px;
    }
}